@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Agrotech - Vendas</title>
    <link rel="stylesheet" href="~/css/relatorioprodutos.css" />
    <script src="~/js/relatorioprodutos.js" defer></script> 
    <script src="https://cdnjs.cloudflare.com/ajax/libs/xlsx/0.17.0/xlsx.full.min.js"></script>
</head>
<body>
    <div class="linha">
        <p class="cadastrar">Relatórios Produtos</p>
    </div>
    <div class="container">
        <!-- Menu Lateral -->
        <div class="menu-lateral">
            <ul>
                <li class="links"><span class="links">🌍</span><a class="links" href="@Url.Action("Index", "Home")">Página Inicial</a></li>
                <li class="links"><span class="links">⚙️</span><a class="links" href="@Url.Action("Configuracoes", "Settings")">Configurações</a></li>
                <li class="links"><span class="links">📊</span><a class="links" href="@Url.Action("Relatorios", "Reports")">Relatórios</a></li>
            </ul>
        </div>

        <!-- Formulário e Ações juntos -->
        <div class="formulario-e-acoes">
            <div class="formulario">
                @model IEnumerable<Agrotechteste.Models.ProdutoRelatorio>
                <table class="tabela-produtos">

                    <h1 class="titulo">Relatório Produto 🌱📃</h1>
                    <p class="observacao" onmouseover="exibirMensagem()" onmouseout="ocultarMensagem()">OBSERVAÇÃO 🚩<hr></p>
                    <span id="mensagem" style="display: none; color: rgb(0, 0, 0);">
                        <b>Tipo de Produto:</b> &nbsp;&nbsp;Produto cadastrado. <br><br>
                        <b>Quantidade Entrada:</b> &nbsp;&nbsp;Total de produtos produzidos. <br><br>
                        <b>Quantidade Saída:</b> &nbsp;&nbsp;Total vendido.<br><br>
                        <b>Estoque:</b> &nbsp;&nbsp;Total vendido - Total produzido.<hr>
                    </span>
                   
                    <thead>
                        <tr>
                            <th class="id">ID</th>
                            <th class="produto">Tipo de Produto 🌾</th>
                            <th class="quantidade_entrada">Quantidade Entrada 📥</th>
                            <th class="quantidade_saida">Quantidade Saída 📤</th>
                            <th class="estoque">Estoque 📦</th>
                        </tr>
                    </thead>
                    <tbody id="tabela-body">
                        @foreach (var produto in Model)
                        {
                            <tr>
                                <td>@produto.ID_Produto</td>
                                <td>@produto.Nome_Produto</td>
                                <td>@produto.Quantidade</td>
                                <td>@produto.quantidade_Saida</td>
                                <td>@produto.Estoque</td>
                            </tr>
                        }
                    </tbody>
                    
                </table>

                <div class="salvar">
                    <button class="salvar" id="salvar">SALVAR RELATÓRIO</button>
                    <button type="button"><a class="Voltar" href="@Url.Action("Relatorios", "Reports")">VOLTAR</a></button>
                </div>
            </div>
        </div>
    </div>

    <script>
        
        function exibirMensagem() {
            const mensagem = document.getElementById('mensagem');
            mensagem.style.display = 'inline'; 
        }

        
        function ocultarMensagem() {
            const mensagem = document.getElementById('mensagem');
            mensagem.style.display = 'none'; 
        }
    </script>
    
</body>
</html>
